@model BankingProyect.ViewModels.InfoAccount

@{
    ViewData["Title"] = "Index";
}


<h2>Index</h2>

<label>Cliente: </label>@Model.FirstName @Model.LastName;

<table>
<tr>
    <td>Account</td>
</tr>
<tr>
    <td>Balance</td>
</tr>
</table>

