@page
@model BankingProyect.Models.Entity.Users;



<h2>Index</h2>

<form action="Users/Save" method="post">

    <div>
        <label for="Username" >Username</label>
        @Html.TextBoxFor(m => m.Username)
    </div>
    <div>
        <label for="Password">Password</label>
        @Html.TextBoxFor(m => m.Password)
    </div>
    <div>
        <input type="submit" name="name" value="Login" />
    </div>

</form>

