@page
@model BankingProyect.Models.Entity.Users;

<link href="~/css/style.css" rel="stylesheet" />


<div class="login-form">
    <form action="Users/Login" method="post">
        <h1>Login</h1>
        <div class="content">
            <div class="input-field">
                @Html.TextBoxFor(m => m.Username, new { placeholder = "Username"})
            </div>
            <div class="input-field">
                @Html.TextBoxFor(m => m.Password, new { placeholder = "Password" })
            </div>
            <div class="action">
                <input type="submit" name="name" value="Login" />
            </div>
        </div>

    </form>
</div>


@if (ViewBag.save == true)
{
    @Html.Label("Usuario creado");
}

